*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

body {
    background-color: lightgray;
}

header {
    padding-left: 10px;
    background-color: white;
}
img{
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.logo-title {
    font-size: 50px;
    font-weight: 600;
    inline-size: 50px;
    vertical-align: top;
}

.container-principal {
    width: 70%;
    margin: 20px auto 2px;
    background-color: white;
    padding: 10px 0 1px 40px;

}

.square1 {
    background-color: royalblue;
    border-radius: 4px;
    border: 1px solid royalblue ;
    padding: 4px;
    font-size: 10px;
    vertical-align: middle;
    color: white;
    margin-right: 3px;
    box-sizing: border-box;
}

.square2 {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px;
    font-size: 10px;
    vertical-align: middle;
    color: gray;
}

.container-secondary {
    width: 70%;
    margin: 0 auto 5px;
    background-color: white;
    padding: 10px 0 10px 40px;
}

.symbol-check {
    color: lime;
    border: 2px solid lime;
    font-size: 10px;
    padding: 0 2px 0 2px;
}

#circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.square-special {
    color: white;
    font-size: 7px;
    border-radius: 7px;
    padding: 4px;
}

.symbol-cross {
    color: red;
    border: 2px solid red;
    font-size: 10px;
    padding: 0 2px 0 2px;
}

#blue {
    background-color: royalblue;
}
#purple {
    background-color: rgb(116, 18, 155);
}

#mare {
    background-color: mediumaquamarine;
}
#orange {
    background-color: orange;
}
#pink{
    background-color: mediumvioletred;
}
#lime {
    background-color: rgb(134, 206, 0);
}

section {
    margin-bottom: 15px;
}
br {
    margin-bottom: 15px;
}